.hidden {
    display: none;
}
.styled-table {
    border-collapse: collapse;
    margin: 25px auto;
    font-size: 14px;
    font-family: sans-serif;
    min-width: 400px;
    width: 80%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table thead tr {
    /* background-color: rgb(49, 49, 235);
     color: #ffffff; */
    border-bottom: 1px solid rgb(49, 49, 235);
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
/* .styled-table tbody tr:nth-of-type(even) {
    background-color: rgba(130, 130, 130, 0.1);
} */

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid rgb(49, 49, 235);
}

.styled-table tbody tr.active-row {
    border-left: 3px solid rgb(49, 49, 235);
    font-weight: bold;
    background-color: rgba(0, 152, 121,0.1);
}